---
layout: page
title: About
permalink: /about/
priority: 0.9

intro: |
  Hey, I'm Elias Baumann, currently a Researcher in computational pathology, 
  focussing on the development of new biomarkers using deep learning models based 
  on explainable features. I develop and optimize machine and deep learning models 
  for large scale image analysis in digital pathology. I am also interested in the 
  development of new methods for the analysis of multi-omics data and the integration 
  of these data types for the development of new biomarkers.

  In my professional career, I try to develop innovative solutions for problems, 
  where the fundamental understanding of the respective domain is crucial, and therefore
  also love to learn everything about the problem domain. 

  I am currently based in Bern, Switzerland and am a PhD student at
  the University of Bern within the [Odyssey Group](https://www.digitalpathologybern.com/) at the Institute of Tissue Medicine
  and Pathology.

profile_picture: /images/profile-pictures/profile.jpg

experience:
  - company: Kaiko.ai
    position: Engineer, Data and Validation
    period: Jul 2025 - Present

  - company: University of Bern
    position: Phd Student, Computational Pathology
    period: Apr 2021 - May 2025

  - company: RadboudUMC Nijmegen
    position: Visiting researcher, Computational Pathology
    period: Mar 2023 - Aug 2023

  - company: Humboldt University of Berlin
    position: Research Assistant, Chair of Information Systems
    period: 2017 - 2020

  - company: B.telligent 
    position: Intern, Visual data discovery
    period: Nov 2015 - May 2016

  - company: Telefónica Germany & Co. OHG
    position: Intern, Mobile and web apps
    period: Aug 2014 - Oct 2015

education:
  - course: PhD Computational Pathology
    place: University of Bern
    period: 2021 - Today

  - course: M. Sc. Information Systems
    place: Humboldt University of Berlin
    period: 2017 - 2021

  - course: B. Sc. Computer Science
    place: Technical University Munich
    period: 2013 - 2016



competitions:
  - event: SGPath
    period: 2023
    result: Best Presentation
    link: https://www.meeting-com.ch/fileadmin/user_upload/programme_pdf/Programme_2023/SGPath_2023_Preliminary_Program.pdf
    
  - event: AI For Climate Hackathon 2021
    period: 2021
    result: Winner
    link: https://www.ai4climate.org/
    
  - event: Data Science Game
    period: 2018
    result: Finalist (Winner of Fair Play Award)

skills:
  - Python development
  - Machine learning and deep learning development
  - Image analysis
  - Optimization for deployment
  - Containerization (Docker, Singularity)
  - Cloud (Azure, AWS)
  - Statistics and data science
  - Bioinformatics
  - Research from idea to published paper
  - Project Management

tools:
  - Azure
  - AWS
  - Visual Studio Code
  - Adobe Ps , Ai , Id 
  - Eclipse
  - Office 365
  - ImageJ, Fiji

about_site: |

  This site has been adapted from the original webiste by Matt Grey on 
  [Github](https://github.com/mattgreydesign/mattgreydesign.github.io) which was made available under the [GNU General Public License v3](https://github.com/MattGreyDesign/mattgreydesign.github.io/blob/master/LICENSE).

  {:.list--dashed .list--small}
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Elias Baumann",
    "jobTitle": "Machine Learning Engineer",
    "nationality": "German",
    "url": "http://www.eliasbaumann.com/",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Bern",
      "addressCountry": "Switzerland"
    }
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-image">
      <img src="{{ page.profile_picture }}" alt="">
    </div>

    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes">
      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>

        <div class="about-section about-section--nested">
          <h3 class="about-section-title type-level-2">Competitions & recognition</h3>
          <dl class="relational-list">
            {% for competition-item in page.competitions %}
              <dt class="relational-list__title">{{ competition-item.event | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ competition-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ competition-item.result | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Tools &amp; technologies</h3>
          <ul class="list--dashed list--small">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Skills</h3>
          <ul class="list--dashed">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">About this site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div>

  </div>
</div>
