/// Append pseudo-classes to a selector(s).
///
/// @argument {list | string} $inputs
///   A selector, or list of selectors, to apply the pseudo-class to.
///
/// @argument {pseudo-class} $pseudo [null]
///   The pseudo-class to be appended.
///
/// @return {list}
///
/// @access private

@function assign-inputs($inputs, $pseudo: null) {
  $list: ();

  @each $input in $inputs {
    $input: unquote($input);
    $input: if($pseudo, $input + ":" + $pseudo, $input);
    $list: append($list, $input, comma);
  }

  @return $list;
}

$text-inputs-list: (
  "[type='color']",
  "[type='date']",
  "[type='datetime']",
  "[type='datetime-local']",
  "[type='email']",
  "[type='month']",
  "[type='number']",
  "[type='password']",
  "[type='search']",
  "[type='tel']",
  "[type='text']",
  "[type='time']",
  "[type='url']",
  "[type='week']",
  "input:not([type])",
  "textarea",
);

$all-text-inputs: assign-inputs($text-inputs-list);
$all-text-inputs-active: assign-inputs($text-inputs-list, active);
$all-text-inputs-focus: assign-inputs($text-inputs-list, focus);
$all-text-inputs-hover: assign-inputs($text-inputs-list, hover);


form {
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  label {
    display: block;
    font-size: var(--font-size-form-label);
  }

  section {
    margin-bottom: rem(20px);
  }

  input:not([type='submit']),
  textarea {
    @include element-padding;
    width: 100%;
    margin-top: .3rem;
    border: var(--border-width) solid var(--color-line);
    border-radius: 0.5rem;
    background: var(--color-background);
    color: var(--color-text);
    font-size: var(--font-size-body);
    line-height: var(--line-height-regular);
    padding: var(--inner-padding-horizontal) var(--inner-padding);
    transition: border-color $timing-interaction;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    &:hover {
      border-color: var(--color-text);
    }

    &:focus,
    &:active {
      outline: none;
      border-color: var(--color-text);
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  font-size: var(--font-size-body);
  line-height: var(--line-height-regular);
  padding: var(--inner-padding-horizontal) var(--inner-padding);
  width: 100%;
  border: var(--border-width) solid var(--color-line);
  background: var(--color-background);
  color: var(--color-text);
  transition: border-color $timing-interaction;

  &:focus {
    outline: none;
    border-color: var(--color-text);
  }
}

textarea {
  min-height: 100px;
  resize: vertical;
}
