a {
  color: var(--color-text);
}

main p a,
main li a,
.formatted-link {
  text-decoration: none;
  color: var(--color-background);
  border: 2px solid;
  // border-radius: 3px;
  border-color: var(--color-cta);
  //border-bottom: rem(1.2px) dashed;
  //border-bottom-color: transparent;
  background: var(--color-cta);
  transition:
    color $timing-interaction,
    background $timing-interaction,
    border-color $timing-interaction;
  &:hover {
    //border-bottom-color: var(--color-cta);
    background: var(--color-text);
    border-color: var(--color-text);
  }
}
